@font-face {
    font-family: 'Gruppo';
    src: url('fonts/Gruppo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brittany';
    src: url('fonts/Brittany/BrittanySignature.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Protest Revolution';
    src: url('fonts/Protest_Revolution/ProtestRevolution-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype'),
         url('fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel Decorative';
    src: url('fonts/CinzelDecorative-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel Regular';
    src: url('fonts/CinzelDecorative-Regular.ttf') format('truetype');
    font-weight: bolder;
    font-style: oblique;
}

@font-face {
    font-family: 'Anton';
    src: url('fonts/Anton/Anton-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background-image: url("pic/fine_upscayl_4x_upscayl-standard-4x.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: #333;
}

header {
    position: fixed;
    top: 0;
    width: 98%;
    background-blend-mode: screen;
    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-family: 'Playfair Display', sans-serif;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .logo-container {
    display: flex;
    align-items: center;
}

header nav .logo-container img {
    margin-right: 1rem;
    
}

header nav .logo {
    font-size: 1.2rem;
    color: #ffffff;
    font-family: 'Protest Revolution', sans-serif;
    margin-top: 0.5rem;
}

header nav .logo .la {
    font-family: 'Brittany', sans-serif;
}

header nav .links {
    display: flex;
    justify-content: flex-end; 
}

header nav a {
    color:rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 1rem;
    font-family: 'Playfair Display', sans-serif;
}

header nav a:hover {
    text-decoration: underline;
}

.hero {
    background-size: cover; 
    background-position: center center; 
    height: 50vh; 
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    text-align: center;
    
}

.hero h1 {
    font-size: 5rem;
    font-family: 'Cinzel Decorative', serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 2rem;
}

.content {
    margin-top: -50px; 
    z-index: 1;
    color: white;
    font-family: 'Gruppo', sans-serif;
    font-size: 1.5rem;
}

.content p {
    color: white;
    font-family: 'Georgia', sans-serif;
    font-size: 1.1rem;
}

.separator {
    border-top: 2px solid #ffffff; 
    margin: 70px 0; 
    
}

.separators {
    border-top: 2px solid #ffffff; 
    margin: 50px 0px; 
    
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 30px;
}

.fine {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.fine:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.fine img {
    width: 100%;          
    height: 200px;         
    object-fit: cover;    
}

.fine h3 {
    margin: 1rem;
    font-size: 1.5rem;
    color: #333;
    font-family: 'Cinzel Regular', sans-serif;
}

.fine p {
    margin: 0 1rem 1rem;
    color: #000000;
    font-family: 'Anton', sans-serif;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem 0;
    font-family: 'Anton', sans-serif;
}

@media (max-width: 768px) {
    .hero {
        height: 50vh; 
    }
}